<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 style="margin-top: 50px;margin-bottom: 30px;text-align: center">欢迎注册</h2>
            <form action="" method="POST" novalidate class="form-horizontal">
                {% for field in form_obj %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }} <span style="color: red">{{ field.errors[0] }}</span>
                </div>
                {% endfor %}
                <button type="submit"  class="btn btn-success">提交</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>